@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Inter', sans-serif;
  }
}
